header{
    display: block;
    height: 6rem;
    text-align: center;
}

.titlu1 {
    font-family: 'New Tegomin', serif;
    font-size: 4rem;
}

html{
    background :rgb(250, 174, 81);
    font-size: medium;
}

