#grid-container > section {
    background-color: transparent;
    text-align: center;
    padding: 20px 0;
    width: 95%;
} 
  

#grid-container{
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      border: 3px solid rgb(111, 66, 20);
      padding: 0;
      list-style-type: none;
}
#chestie_plimbareata,#chestie_rotitoare{
    display: none;
}

#grid-container > section:nth-child(1){order: 8 ;}
#grid-container > section:nth-child(2){order: 4 ; width: 37%;}
#grid-container > section:nth-child(3){order: 1 ;}
#grid-container > section:nth-child(4){order: 2 ;}
#grid-container > section:nth-child(5){order: 3 ;}
#grid-container > section:nth-child(6){order: 5 ;}
#grid-container > section:nth-child(7){order: 6 ;}
#grid-container > section:nth-child(8){order: 7 ;}
#grid-container > section:nth-child(9){order: 12 ;}
#grid-container > section:nth-child(10){order: 10 ;}
#grid-container > section:nth-child(11){order: 9 ;}
#grid-container > section:nth-child(12){order: 11 ;}
#grid-container > section:nth-child(13){order: 13 ;}
#grid-container > section:nth-child(14){order: 14 ;}
#grid-container > section:nth-child(15){order: 15 ;}

