nav ul.meniu ul{
    display: none;
	position: absolute;
	width:100%;
}

nav{ 
    height:3rem;
    width:100%;
    top:0;
    padding:0;
    background: rgb(231, 145, 15);
    z-index:10;
    position:sticky;
}

nav ul.meniu>li{
    float:left;
    width:90px;
	position:relative;
}

nav ul, nav li{
    padding:0;
    margin:0;
}

nav ul.meniu li{
    text-align:center;
    list-style-type: none;
    background: rgb(231, 145, 15);
    cursor:pointer;
}

nav ul.meniu li a, nav ul.meniu li div{
    text-decoration: none;
    color:black;
    display: block;
    font-weight:bold;
    height:3rem;
    line-height:3rem;
    outline:none;
    
}

ul.meniu a:hover, ul.meniu div:hover{
    color:white;
}

ul.meniu a{
   transition: 700ms linear; 
}

nav ul.meniu>li:hover>ul{
	display: block;
    animation-name: aparitie_meniu;
    animation-iteration-count:1;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;   
}


#hamburger{
    display: none;
    height: 3rem;
}

#ch-menu{
    display: none ;
}

#hamburger img{
    height:100%;
    width:auto;
}


@keyframes aparitie_meniu{
    0%{
        opacity:0;
    } 
	100%{
    	opacity:1;
    }
}

.casa1{
  opacity: 0 ;
}

.casa1:hover {
  opacity: 1;
}
