body{
    --body-padding:0px;
}
  
#hamburger{
    display:block;
}
  
ul.meniu{
    display:none;
}

#ch-menu:checked+ul.meniu{
    display: block;
}
   
nav ul.meniu li{
    width:100%;
}

nav ul.meniu>li ul{
    position:absolute;
    width:100%;
    z-index:1;
}
  
