h1{
    text-align: center;
        
}

.adoptie{
        position: relative;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        font-size:large;
}

.galerie{
    padding: 0;
    box-sizing: border-box;
    font-family:'New Tegomin';
    display: flex;
    flex-direction:column;
    min-height: 100%;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    align-items: center;
    background-color:rgb(223, 139, 55);
}

.heading{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 3em;
}

.images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 1em; 
    margin: 0 1em;
}

.images p{
    opacity:0;
    display:none;
}

.images div{
   width: 70%;
   height: 80%;
   place-self: center;
}

.images img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    place-self: center;
    transition: 0.3s all ease;
    border-color:rgb(77, 47, 10);
    border-style: solid;
    border-width: 4px;
}

.images img:hover{
    transform: scale(0.9);
}

.modal{
    position: fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.9);
    color: #fff;
    z-index: 2;
    overflow: auto;
    opacity:0;
    pointer-events: none;
}

.modalContent{
    min-height:100vh;
    font-weight: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalImg{
    width:30%;
    max-width:700px;
    height:30%;
    max-height:500px;
    border-color:rgb(31, 15, 211);
    border-style: double;
    border-width: 4px;
}

.modalbuton{
    width: 100%;
    height: 40%;
    text-align: center;
    margin-top: 50px;
}
.modalbuton button{
    display: inline-block;
    padding: 8px 16px;
    border-color:rgb(255, 255, 255);
    border-style: solid;
    border-radius: 3px;
    border-width: 3px;
    
}

.modalbuton button:hover{
    background-color:rgb(108, 199, 245);
    color:#fff;
}

.prevBtn{
    background-color: rgb(170, 175, 180);
    color:0;
    margin-right: 10px;
}
.nextBtn{
    background-color:rgb(25, 25, 213);
    color:#fff;
  
}
@keyframes zoom{
    from{
        transform:scale(0);
    }
    to{
        transform:scale(1);
    }
}

.modalTxt{
    margin-top: 3em;
}
.modalTxt2{
    margin-top: 2em;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.close{
    position: absolute;
    top: 1em;
    right: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 3;
    font-family:'New Tegomin';
    font-size: 40px;
}

.modal.appear{
    opacity: 1;
    pointer-events: all;
}

.modal.appear .modalImg,
.modal.appear .modalTxt,
.modal.appear .modalTxt2{
    animation: zoom 0.3s linear;
}

