#tb-meniu {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}    

#tb-meniu>tbody>tr{
    border-bottom: solid 2px rgba(72, 52, 13, 0.86);
}

.prim{
    width:80%;
    text-align: left;
}

.second{
    width: 20%;
    text-align: right;
}
#item4>.meniu1>h2, h3 {
    border-bottom: double rgba(72, 52, 13, 0.86);
}