<ul class="home_anunt">
    <li class="anunt1">
       <article class="anunt2">
           <figure class="anunt3">
               <img src="<%= anunt.img %>" />
               <h4> <%= anunt.title %> </h4>
           </figure>
           <p> <%= anunt.detalii %> </p>
           <!--<p> <%= anunt.numarTelefon %> </p> -->
       </article>
    </li>
</ul>