<div class="anunt1">
            <img src="<%= anunt.img %>" id="imagine_anunt"/>
            <h4 id="titlu_anunt"> <%= anunt.title %> </h4>
            <p id="descriere_anunt"> <%= anunt.description %> </p>
</div>