<footer>
    <hr id="hr1">
    <section class="locatie">
        <h2><a id="locatie">Cum ajung?</a></h2>
        <p>		
            <div class="moduletable">
                <iframe onload="iFrameHeight(this)"	id="blockrandom-93" name=""
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4029.832845816693!2d26.109383197759993!3d44.42245082917883!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4335418785793418!2sMiau+Cafe!5e0!3m2!1sen!2sro!4v1527433685325"
                        scrolling="no" frameborder="0" title="Harta" class="wrapper" >
                Fără iframe-uri</iframe>
             </div>
         </p>
        <p>Doresti sa ne vizitezi si nu stii unde ne gasesti?<br>Nici o problema, te ajutam noi.</p>
        <p>Locatia noastra este: <i>Strada Intre Garle Nr.7, sector 4, Bucuresti, Romania 40294 </i></p>
        <p>Te mai ajutam cu ceva. Ca sa nu vii pe jos, iti punem la dispozitie informatii despre mijloacele de transport care te pot ajuta sa ajungi la noi:</p>
        <details>
            <summary>RATB</summary>
               <li>23, 27, 312, N105 </li>
        </details>
        <details>
            <summary>METROREX</summary>
               <li> Timpuri Noi (~ 0.7 km distanta de noi), Piata Unirii (~ 0.9 km distanta de noi) </li>
        </details>
    

        <p>Contact:</p>
        <address>
        Numar telefon: <a href="tel:0723 379 551">0723 379 551</a>.<br> 
        Email: <a href="mailto:miau@miaucafe.ro">miau@miaucafe.ro</a>.<br> 
        </address>

     </section>

    <hr id = "hr2">

    <div id = "drepturi_autor"><small>acest site este protejat de drepturi de autor &copy;</small>
    <br><small>Creat la data de <time datetime="2022-04-17 20:00">17.04.2022</time>.</small></div>
    
    <button id="myBtn"><a href="#top" title="Mergi sus" style="color: rgb(120, 62, 3)">&#5123</a></button>
    
 </footer>
