<header>
    <a id="ACASA"></a>
    <h1> 
      <i class="titlu1">Miau Cafe</i>
    </h1>     
</header>

<nav>
    <label id="hamburger" for="ch-menu">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><a href="/"><span class="casa1">ACASA</span></a></li>
        <li><a href="/#companie">Despre noi</a></li>
        <li><div><a href="/#MENIU">Meniu</a></div>
            <ul>                        
                <li><a href="/#CAFEA">Cafea</a></li>
                <li><a href="/#FRESH">Fresh</a></li>
                <li><a href="/#SMOOTHIES">Smoothies</a></li>
                <li><a href="/#CEAI">Ceaiuri</a></li>
            </ul>
        </li>
        <li><a href="/#locatie">Cum ajung?</a></li>
        <li><div><a href="/angajare">Angajare</a></div>
            <ul>
                <li><a href="/#angajare#btn1">Formular</a></li>
            </ul>
        </li>
        <li><div><a href="/adoptie">Adoptie</a></div>
            <ul>
                <li><a href="/adoptie#adoptie">Despre adoptie</a></li>
                <li><a href="/adoptie#galerie">Galerie</a></li>
                <li><a href="">Anunturi</a></li>
            </ul>
        </li>
        
    </ul>
    
</nav>