<!DOCTYPE html>

<html lang="ro">

<head>
    <meta name="description" content="Suntem o cafenea mai speciala, care gazduieste si pisici. Va oferim o relaxare completa alaturi de pisicile noastre.">
	<meta name="keywords" content=" cafeanea, relaxare, pisici, adoptie, angajare">

        <title>Eroare 404 </title>  
        <%- include("../fragmente/head") %>
    <style>
        main{
            text-align:center;
        }
        p{
            font-size: 20px;
        }
        img{
            width: 500px;
            height:300px;
        }
    </style>    
        
</head>

<body>
	<%- include("../fragmente/header") %> 
	<main>
		<section>
			<h3> Eroare 404 - page not found </h3>
		</section>
        <p><b>Nu ai gasit ce cautai? Mai verifica o data adresa URL! :) </b></p>
        <img src="/resurse_poze/404.png" alt="Eroare 404">
	</main>

	<%- include("../fragmente/footer") %> 
</body>
</html>