<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Suntem o cafenea mai speciala, care gazduieste si pisici. Va oferim o relaxare completa alaturi de pisicile noastre.">
	<meta name="keywords" content=" cafeanea, relaxare, pisici, adoptie, angajare">
        
    <title>Adoptie</title>
    
    <%- include("../fragmente/head") %>
    <link rel="stylesheet" text="text/css" href="resurse_css/stilizare_adoptie.css"/>
    <script src="resurse_js/adoptie.js"></script>
    <script src="resurse_js/setInterval.js"></script> 

</head>
<body>
    <%- include("../fragmente/header") %>
    <h1> 
        <i class="titlu1" id="adoptie">ADOPTIE</i>
    </h1> 
    
    <section class="adoptie">
       <p>Misiunea Miau este să ajute cât mai multe pisici să ajungă la casele lor, la oameni care să le iubească și să le 
          ingrijească, așa că  toate pisicile din cafenea sunt pentru adopție. Unele dintre ele sunt la noi de când am deschis 
          și le iubim foarte mult, dar știm că este mai bine pentru ele să aibă casa lor, în felul ăsta putem ajuta mai multe.
          <br>
          Ne dorim ca pisicile care sunt adoptate de la noi să devina membri ai familiei, să fie respectate și iubite, și avem 
          câteva condiții în care se realizează adopția. Ne rezervăm dreptul de a alege persoanele potrivite pentru fiecare pisică
          în parte. Pe unele dintre ele le cunoaștem deja foarte bine și stim ce fel de mediu/cămin ar fi mai potrivit pentru ele.
        </p> 
        <ul class="reg_adoptie"> <b>Regulament adoptie <i>Miau Cafe</i></b>:  
            
           <li> Toate persoanele care sunt interesate sa adopte trebuie sa completeze formularul ce se gaseste putin mai jos prin 
               care dorim saa le cunoastem mai bine, prin care sa ne convinga ca isi doresc cu adevarat o pisica si stiu ce 
               responsabilitati implica adoptia unui animalut. Dupa completarea formularului, persoana in cauza va fi contactata de 
               responsabilul pentru adoptii din echipa Miau, i se va comunica o data pentru intalnirea unde se va stabili daca se finalizeaza 
               adoptia. Pana atunci, echipa Miau va pune la dispozitie putin mai jos in pagina,poze cu pisicile actuale, si descrierea lor. De 
               asemenea, puteti oricand sa ne vizitati la cafenea si sa interactionati cu ele.
           </li>

           <li>Toate adopțiile se finalizează cu contract de adopție și numai de către persoane majore.</li>

           <li>Nu dăm pisici cu scopul de a fi oferite cadou, considerăm că adopția unui animal trebuie facută în mod responsabil
               și numai după ce persoana care dorește să adopte a luat în calcul toate avantajele si dezavantajele.</li>

           <li>Nu dăm pisici pentru a fi duse la țară, la curte, etc. Pisicile noastre sunt obișnuite să stea în casă, să aibă 
               hrană de calitate, multă afecțiune și vrem condiții cât mai bune pentru ele, precum și sigurantă. Așa că vom refuza
               din start cererile de adoptie care nu corespund.</li>

           <li>Pisoii sub 4 luni se dau numai cu condiția să fie sterilizați la vârsta potrivita. Considerăm că sterilizarea este 
               singura metoda de a diminua numărul pisicilor abandonate sau maidaneze și este o condiție esențială pentru a adopta 
               de la noi.</li>

           <li>În cazul pisoilor care sunt frați, ne dorim foarte mult fie adoptați împreună (câte 2) așa că vor avea prioritate 
               persoanele care înteleg că este mai bine și mai sănatos pentru ei să crească împreună.</li>

           <li>Unele din pisicile noastre au legat prietenii și sunt obișnuite să aibă parteneri de joacă, așa că pe ele preferăm 
               să le dăm împreună sau în case unde mai sunt alte animale/pisici. Considerăm că este cel mai bine șa fie 
               minim 2 pisici într-o casă.</li>
               
           <li>Cu excepția puilor care sunt prea mici, toate pisicile noastre sunt vaccinate, deparazitate și sterilizate.</li>
        </ul>   
    </section>

    <br>
    <section class="galerie" id="galerie">
        <div class="heading">Galerie</div>
        <div class="images">
            <div class="aaaa">
                <img class="im" src="resurse_poze/pisici_cafenea/img1.jpg" alt="Felix si Mia" 
                     descriere="Descriere: Felix si Mia sunt doi puiuti de 3 luni care incanta pe oricine ii vede. 
                     Ei se iubesc foarte mult deoarece sunt frati."/>
                <p class="ascuns">Descriere: Felix si Mia sunt doi puiuti de 3 luni care incanta pe oricine ii vede. 
                     Ei se iubesc foarte mult deoarece sunt frati.
                </p>  
            </div>

            <div class="aaaa">
                <img class="im" src="resurse_poze/pisici_cafenea/img2.jpg" alt="Tomy si Niki" />
                <p class="ascuns">Descriere: Tom si Niki doar ce au 3 saptamani de la nastere. Mama lor din pacate a murit
                    iar acum perosnalul Miau Cafe trebuie sa aiba grija de cei 2 puiuti orfani :((
               </p> 
            </div>

            <div class="aaaa">
                <img class="im" src="resurse_poze/pisici_cafenea/img4.jpg" alt="Pufa" />
                <p class="ascuns">Descriere: Pufa este o gratioasa pisica elba, ce ii place sa fie rasfatata.
               </p> 
            </div>

            <div class="aaaa">
                <img class="im" src="resurse_poze/pisici_cafenea/img6.jpg" alt="Motanel" />
                <p class="ascuns">Descriere: Motanel are un an si jumatate de cand este in grija noastra, si este cel
                    mai jucaus dintre toti.
               </p> 
            </div>

            <div class="aaaa">
                <img class="im" src="resurse_poze/pisici_cafenea/img8.jpg" alt="Tom & Jerry" />
                <p class="ascuns">Descriere: Tom este o pisica mai deosebita. El vine la pachet cu Jerry, un soricel
                    alaturi de care impreuna asigura distractia din cafenea. 
               </p> 
            </div>

            <div class="aaaa">
                <img class="im" src="resurse_poze/pisici_cafenea/img7.jpg" alt="Sissy" />
                <p class="ascuns">Descriere: Sissy este cea mai lipicioasa de clientii nostri, mereu vrea sa fie mangaiata.
               </p> 
            </div>

            <div class="aaaa">
                <img class="im" src="resurse_poze/pisici_cafenea/img5.jpg" alt="Mimi si Kitty" />
                <p class="ascuns">Descriere: Mimi si Kitty sunt mama si fiica, Kitty avand doar 2 saptamani. Mimi isi 
                    protezeaja mereu fiica, si face urat daca clientii nu sunt atenti cu Kitty.
                </p> 
            </div>

            <div class="aaaa">
                <img class="im" src="resurse_poze/pisici_cafenea/img9.jpg" alt="Arthur" />
                <p class="ascuns">Descriere: Artur este singuraticul din casa miau cafe, insa doar Kitty il face uneori sa 
                    lase deoparte atitudinea singuratica.
                </p> 
            </div>

            <div class="aaaa">
                <img class="im" src="resurse_poze/pisici_cafenea/img10.jpg" alt="Candy" />
                <p class="ascuns">Descriere: Candy este pisica care sta la mangaiat doar cand vrea ea, si in rest zici
                    ca nici nu te cunoaste.
                </p> 
            </div>  
        </div>
        <div class="modal">
            <span class="close"><b>X</b></span>
            <div class="modalContent">
                
                <img src="" class="modalImg" />
                <span class="modalTxt"></span>
                <div class="modalTxt2"></div>
                
                <div class="modalbuton">
                    <button type="button" class="prevBtn"> &laquo;Previous</button>
                    <button type="button" class="nextBtn"> Next &raquo; </button>
            
                </div>
            </div>
        </div>
    </section>

    <section class="formular">

    </section>

    <hr id="hr1">

    <section id="anunturi_adoptie">
        <h1>Anunturi adoptie</h1>
        <a href="/login">Adauga anunt</a>
        <div class="post_list">
           <% anunturi.forEach(function(anunt){ %>
            <%- include('../fragmente/anunt', {anunt:anunt}); %>
        <% }); %>
        </div>
    </section>
     

    <footer>
        <hr id = "hr2">

    <div id = "drepturi_autor"><small>acest site este protejat de drepturi de autor &copy;</small>
    <br><small>Creat la data de <time datetime="2022-04-17 20:00">17.04.2022</time>.</small></div>
    
    <button id="myBtn"><a href="#top" title="Mergi sus" style="color: rgb(120, 62, 3)">&#5123</a></button>
    
 </footer>
    </footer>
</body>
</html>