<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Suntem o cafenea mai speciala, care gazduieste si pisici. Va oferim o relaxare completa alaturi de pisicile noastre.">
	<meta name="keywords" content=" cafeanea, relaxare, pisici, adoptie, angajare">
        
    <title>Adoptie</title>
    <%- include("../fragmente/head") %>
</head>
<body>
    
</body>
</html>