<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Suntem o cafenea mai speciala, care gazduieste si pisici. Va oferim o relaxare completa alaturi de pisicile noastre.">
	<meta name="keywords" content=" cafeanea, relaxare, pisici, adoptie, angajare">
        
    <title>Angajare</title>
    <link rel="stylesheet" text="text/css" href="resurse_css/stilizare_angajare.css"/>

    <%- include("../fragmente/head") %>
    <script src="resurse_js/angajare.js" defer></script>

</head>
<body>
    <%- include("../fragmente/header") %>

    <br>
    <h1 id="angaj">ANGAJARE</h1>
    <main>
		<section class="sec1">
			<p> <b>Detalii posturi disponibile: </b></p>
		    <ul>
                <li> 1 post full-time (10 ore pe zi)</li>
                <li> 2 posturi part-time (4/6 ore pe zi)</li>
            </ul>
            <p>
                Cu sau fara experienta, ne dorim sa fii o persoana flexibila, care sa se adapteze cerintelor noastre de lucru, procedurilor, modului nostru de preparare a bauturilor si mai ales o persoana care sa iubeasca pisicile.
                Jobul tau va presupune prepararea bauturilor pe baza de cafea folosind aparate profesionale de bar, interactiunea cu clientii, oferirea de detalii despre produse, promovarea preparatelor noastre si supravegherea atenta a comportamentului unui client cu pisicile, iar in cazul in care acesta este neadecvat, trebuie sa iei masuri in privinta aceasta.
            </p>
            <p>  Din activitatea pe care ti-o propunem vei invata:
                <ul>
                    <li>sa prepari bauturile din gama espresso, latte, cappuccino, chai latte, frappe, etc. - dupa propriile noastre retete</li>
                    <li>sa lucrezi ordonat/curat</li>
                    <li>sa socializezi chiar si cu persoanele pe care nu le cunosti</li>
                    <li>sa iti prioritizezi activitatile</li>
                    <li>sa iti gestionezi stocul de materii prime</li>
                    <li>sa iti intocmesti necesarul de marfa</li>
                    <li>sa fii un bun vanzator</li>
                    <li>sa iti fidelizezi clientii</li>
                </ul>    
                Iti oferim training specializat pe produsele noastre, mediu de lucru placut, salariu fix lunar si tichete de masa, seriozitate si stabilitate.
            </p>
        </section>

        <br>
        <div id="btn1"><button class="buton1" onclick = myFunction() >Formular angajare</button></div>
        <br>
        <script>
            function myFunction() {window.location="/formular"};
        </script>
	</main>

    <br>
    <%- include("../fragmente/footer") %>
</body>
</html>