<!doctype html>
<html lang="us">
<head>
	<meta name="description" content="Suntem o cafenea mai speciala, care gazduieste si pisici. Va oferim o relaxare completa alaturi de pisicile noastre.">
	<meta name="keywords" content=" cafeanea, relaxare, pisici, adoptie, angajare">

    <title>Formular </title>  
    <link rel="stylesheet" text="text/css" href="resurse_css/stilizare_angajare.css"/>

    <%- include("../fragmente/head") %>
    <script src="resurse_js/angajare.js" defer></script>
    <script>
      window.onload=function()
        {document.getElementById('buton').onclick=function(){window.location="/formular_completat";}}
    </script>
		
</head>
<body>
    <%- include("../fragmente/header") %> 

    <br>
        <div id="btn1"><button class="buton1">Formular angajare</button></div>
    <br>
    <div id="formular1">
        <form class="formular_angajare" method="post" enctype="multipart/form-data">
                   <h2>Formular angajare</h2>
                <p>Daca vrei sa vii in echipa noastra completeaza  formularul:</p>   
                <p><label>Nume: </label> <input class="inp" type="text" name="nume" placeholder="Nume..." required> </p>
                <p><label>Prenume: </label> <input class="inp" type="text" name="prenume" placeholder="Prenume..." required> </p>
                <p><label>Data nasterii: </label> <input class="inp" type="date" name="data" value="2022-05-18" > </p>
                <p><label>Adresa email: </label> <input class="inp" type="email" placeholder="Email..." name="email" required> </p>
                <p id="telefon"><label>Telefon: </label> <input class="inp" type="text" name="telefon" placeholder="Nr telefon ..." required>  </p>
                <p><label>Preferinta post: </label> <input class="inp" type="text" name="preferinta" placeholder="full/part-time..." required> </p>
                <p><label>Incarca CV: </label> <input type="file" name="incarcat" required> </p>
                <p><input type="submit" value="Trimite formular" id="buton"> </p>

        </form>
	</div>

   <%- include("../fragmente/footer") %>         
</body>
</html>