<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Suntem o cafenea mai speciala, care gazduieste si pisici. Va oferim o relaxare completa alaturi de pisicile noastre.">
	<meta name="keywords" content=" cafeanea, relaxare, pisici, adoptie">
        
    <title>Miau cafe</title>
    
    <%- include("../fragmente/head") %>
</head>

<body>
    <%- include("../fragmente/header") %>
    <main id="grid-container">
        <section id="item1">
            <article>
                <h2><a id="companie"></a>Despre noi</h2>
                <p>  <b> Miau Cafe</b> este casa pisicilor deschisa tuturor oamenilor dornici sa le cunoasca, sa le iubeasca si poate sa le adopte. Va asteptam cu drag in cafeneaua noastra. </p>
                <p>
                    Viața e mai frumoasă alături de pisici ♥ Iubirea noastră pentru pisici și dorința de a ajuta cât mai multe din ele, oferindu-le un spațiu unde să fie îngrijite, răsfățate și respectate, dar și posibilitatea de a fi adoptate de oameni responsabili a devenit, între timp, misiunea Miau.
                    Acum 7 ani deschideam prima cafenea cu pisici din România, locul în care am adăpostit de atunci toate pisicile care ne-au ieșit în cale, găsindu-le familii iubitoare apoi, dar și locul de unde felinele pleacă fericite.
                    În 7 ani multe au ajuns la casele lor, iar la Miau sunt mereu pisici prietenoase, care asteaptă să fie răsfățate și chiar adoptate.
                    Vă așteptăm să le vizitați și să petreceți timp în compania lor de marți până duminică, iar lunea să le oferiți o zi pentru răgaz și vizite la veterinar.
                </p>
                <div class="reguli">
                    <span><h2>Regulament</h2></span>
                    <p> Bunăstarea felinelor noastre este pe primul loc, așa că vă rugăm sa le respectați când veniți în vizită :) Avem câteva reguli de bună purtare cu ele și va rugăm să țineți cont de ele: </p>
                    <ul>
                        <li>Atunci când o pisică doarme, nu o treziți, lasați-o să-și facă somnul de frumusețe :)</li>
                        <li>Nu forțați pisicile să stea cu voi sau in brațe dacă ele nu vor asta. O sa vina ele la voi când vor și o să apreciați mai mult compania lor</li>
                        <li>Nu stresați pisicile, nu le trageți de coadă, de urechi, nu faceți zgomot puternic lângă ele, etc.</li>
                        <li>Puteți face câte poze vreti cu ele, însa fară bliț, vă rugăm, le afectează</li>
                        <li>Copiii sub 14 ani trebuie să fie supravegheați tot timpul de un adult, să nu alerge și să nu bruscheze pisicile</li>
                        <li>Pisicile noastre sunt obișnuite cu o anumită hrană, așa că vă rugăm să nu le dați altceva de mâncare și nici să le lăsați să bea din băutura voastră</li>
                        <li>Pisicile lasă păr, e inevitabil, așa că vă punem la dispoziție role adezive pentru a vă curăța.</li>
                        <li>Dacă observați pe cineva care deranjează pisicile vă rugăm să luați atitudine, fie anunțând personalul Miau, fie atrăgandu-i atenția persoanei care face asta.</li>
                    </ul>
                </div>
            </article>
        </section>

        <section id="item2">
            <section id="program_lucru">
                <h2>PROGRAM </h2>
                <div class="table-container1">
                <table id="tab-pr_lucru">
                    <thead>
                        <tr class="l_pr">
                            <th class="active" id="pr">Zi</th>
                            <th class="active" id="pr">Interval de lucru</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="l_pr">
                            <td class="active" id="pr">Luni</td>
                            <td class="active" id="pr">INCHIS</td>
                        </tr>
                        <tr class="l_pr">
                            <td class="active" id="pr">Marti</td>
                            <td class="active" id="pr">12-22</td>
                        </tr>    
                        <tr class="l_pr">
                            <td class="active" id="pr">Miercuri</td>
                            <td class="active" id="pr">12-22</td>
                        </tr>
                        <tr class="l_pr">
                            <td class="active" id="pr">Joi</td>
                            <td class="active" id="pr">12-22</td>
                        </tr>
                        <tr class="l_pr">
                            <td class="active" id="pr">Vineri</td>
                            <td class="active" id="pr">12-22</td>
                        </tr>
                        <tr>
                            <td class="active" id="pr">Sambata</td>
                            <td class="active" id="pr">12-22</td>
                        </tr>
                        <tr>
                            <td class="active" id="pr">Duminica</td>
                            <td class="active" id="pr">12-22</td>
                        </tr>
                    </tbody>
                   
                </table> 
                </div>
            </section>
        </section>

        <section id="item3">
            <div> <img class="img1" src="resurse_poze/imagine1.jpg" alt="lipseste poza"> </div>
        </section>

        <section id="item31">
            <div> <img class="img1" src="resurse_poze/imagine2.jpg" alt="lipseste poza"> </div>
        </section>

        <section id="item32">
            <picture>
                <source class="img1" srcset="resurse_poze/imagine7.jpg" media="(max-width:600px)"/>
                <img class="img1" src="resurse_poze/imagine3.jpg" alt="lipseste poza">
            </picture>
        </section>

        <section id="item33">
            <picture>
                <source class="img1" srcset="resurse_poze/imagine8.jpg" media="(max-width:600px)"/>
                <img class="img1" src="resurse_poze/imagine4.jpg" alt="lipseste poza">
            </picture>
        </section>

        <section id="item34">
            <picture>
                <source class="img1" srcset="resurse_poze/imagine9.jpg" media="(max-width:600px)"/>
                <img class="img1" src="resurse_poze/imagine5.jpg" alt="lipseste poza">
            </picture>
        </section>

        <section id="item35">
            <picture>
                <source class="img1" srcset="resurse_poze/imagine10.jpg" media="(max-width:600px)"/>
                <img class="img1" src="resurse_poze/imagine6.jpg" alt="lipseste poza">
            </picture>
        </section>

        <section id="item36">
            <div> <img class="img1" src="resurse_poze/cafea.jpg" alt="lipseste poza"> </div>
        </section>

        <section id="item37">
            <div> <img class="img1" src="resurse_poze/cafea1.jpg" alt="lipseste poza"> </div>
        </section>
    
        <section id="item4">
            <section class="meniu1">
                <a id="MENIU"></a>
                <h2>Meniu</h2>
                <div class="table-container2">
                    <table id="tb-meniu">
                        <tbody>
                            <tr >
                               <td class="prim">Apa cu sirop<br><em>(merisor,capsune,trandafir,fructe de padure,lavanda)</em></td>
                               <td class="second">7 lei 400ml </td>
                            </tr>
                            <tr>
                                <td class="prim">Apa plata/minerala</td>
                                <td class="second">7 lei 500ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Ciocolata calda</td>
                                <td class="second">10 lei 300ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Ciocolata calda cu scortisoara si cardamom</td>
                                <td class="second">13 lei 300ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Ciocolata calda cu scortisoara si caramel</td>
                                <td class="second">11 lei 300ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Turmeric Latte<br><em>(lapte cocos,lapte migdale,piper,ghimbir,scortisoara,sirop curmale)</em></td>
                                <td class="second">15 lei 300ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Chai Latte<br><em>(ceai negru cu anason,cardamom,ghimbir,piper,cuisoare)</em></td>
                                <td class="second">13 lei 300ml</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </section>

        </section>

        <section id="item5">
            <section class="meniu1">
                <a id="CAFEA"></a>
                <div class="table-container2">
                    <table id="tb-meniu">
                        <caption>
                            <h3>Cafea</h3>
                        </caption>
                        <tbody>
                            <tr >
                               <td class="prim">Expresso</td>
                               <td class="second">8 lei</td>
                            </tr>
                            <tr>
                                <td class="prim">Cappucino</td>
                                <td class="second">10 lei</td>
                            </tr>
                            <tr>
                                <td class="prim">Cafe Latte</td>
                                <td class="second">10 lei</td>
                            </tr>
                            <tr>
                                <td class="prim">Frappe</td>
                                <td class="second">10 lei</td>
                            </tr>
                            <tr>
                                <td class="prim">Caffe Latte cu sirop<br><em>(caramel,migdale,turta dulce,alune de padure,vanillie)</em></td>
                                <td class="second">12 lei</td>
                            </tr>
                            <tr>
                                <td class="prim">Almond Latte<br><em>(expresso,lapte migdale,sirop,migdale)</em></td>
                                <td class="second">15 lei</td>
                            </tr>
                            <tr>
                                <td class="prim">Vanilla Ice Coffee<br><em>(expresso,lapte vegetal,inghetata vanille soia,gheata)</em></td>
                                <td class="second">15 lei</td>
                            </tr>
                            <tr>
                                <td class="prim">Coconut Ice Coffee<br><em>(expresso,lapte cocos,gheata)</em></td>
                                <td class="second">17 lei</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </section>
        </section>

        <section id="item6">
            <section class="meniu1">
                <a id="FRESH"></a>
                <div class="table-container2">
                    <table id="tb-meniu">
                        <caption>
                            <h3>Fresh</h3>
                        </caption>
                        <tbody>
                            <tr >
                               <td class="prim">Limonada</td>
                               <td class="second">10 lei  400ml <br><em>18lei 1L</em></td>
                            </tr>
                            <tr >
                                <td class="prim">Limonada cu sirop de agave</td>
                                <td class="second">12 lei  400ml <br><em>22lei 1L</em></td>
                            </tr>
                            <tr >
                                <td class="prim">Limonada cu sirop</td>
                                <td class="second">12 lei  400ml <br><em>20lei 1L</em></td>
                            </tr>
                            <tr >
                                <td class="prim">Limonada cu fructe proaspete<br><em>(intrebati ce fructe proaspete sunt disponibile)</em></td>
                                <td class="second">14 lei  400ml <br><em>24lei 1L</em></td>
                            </tr>
                            <tr>
                                <td class="prim">Citronada<br><em>(lamai,portocale,apa minerala)</em></td>
                                <td class="second">13 lei  400ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Fresh portocale</td>
                                <td class="second">15 lei 300ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Fresh mere</td>
                                <td class="second">15 lei  300ml</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </section>
        </section>

        <section id="item7">
            <section class="meniu1">
                <a id="SMOOTHIES"></a>
                <div class="table-container2">
                    <table id="tb-meniu">
                        <caption>
                            <h3>Smoothies</h3>
                        </caption>
                        <tbody>
                            <tr >
                               <td class="prim">Banana Orage<br><em>(banane,portocale)</em></td>
                               <td class="second">15 lei  400ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Strawberry Vanilla<br><em>(capsune,inghetata vanilie,lapte soia)</em></td>
                                <td class="second">17 lei  400ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Mango Raspberry Sorbet<br><em>(mango,sorbet zmeura,lapte cocos)</em></td>
                                <td class="second">18 lei 400ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Pink<br><em>(capsune,lapte cocos,rodie)</em></td>
                                <td class="second">15 lei  400ml</td>
                            </tr>
                            <tr >
                                <td class="prim">Banana Nuts<br><em>(banane,lapte soia,unt arahide,sirop curmale,scortisoara)</em></td>
                                <td class="second">16 lei  400ml</td>
                            </tr>
                            <tr >
                                <td class="prim">Green<br><em>(mere,castraveti,spanac,banane,pudra Moringa)</em></td>
                                <td class="second">19 lei  400ml</td>
                             </tr>
                             <tr >
                                <td class="prim">Pina Colada<br><em>(ananas,portocale,lapte cocos)</em></td>
                                <td class="second">20 lei  400ml</td>
                             </tr>
                         </tbody>
                    </table>
                </div>
            </section>
        </section>

        <section id="item8">
            <section class="meniu1">
                <a id="CEAI"></a>
                <div class="table-container2">
                    <table id="tb-meniu">
                        <caption>
                           <h3>Ceaiuri</h3>
                        </caption>
                        <tbody>
                            <tr >
                               <td class="prim">Ice Tea</td>
                               <td class="second">9 lei  350ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Tei</td>
                                <td class="second">9 lei  350ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Menta</td>
                                <td class="second">9 lei 350ml</td>
                            </tr>
                            <tr>
                                <td class="prim">Lavanda</td>
                                <td class="second">9 lei  350ml</td>
                            </tr>
                            <tr >
                                <td class="prim">Rooibos<em>(ceai rosu)</em></td>
                                <td class="second">9 lei  350ml</td>
                            </tr>
                            <tr >
                                <td class="prim">Rooibos Cranberry Vanilla<br><em>(rooibos,merisor,vanille)</em></td>
                                <td class="second">9 lei  350ml</td>
                             </tr>
                             <tr >
                                <td class="prim">Rooibos Lemon Spice<br><em>(rooibos,coji portocale,lemongrass,scortisoara,coacaze)</em></td>
                                <td class="second">9 lei  350ml</td>
                             </tr>
                             <tr >
                                <td class="prim">Chocolate Orange<br><em>(rooibos,chipsuri ciocolata,coji portocale,flori de portocal)</em></td>
                                <td class="second">9 lei  350ml</td>
                             </tr>
                             <tr >
                                <td class="prim">Honey Turkish<br><em>(rooibos,piper roz,alune glazurate,galbenele)</em></td>
                                <td class="second">9 lei  350ml</td>
                             </tr>
                         </tbody>
                    </table>
                </div>
            </section>
        </section>

    </main>

    <%- include("../fragmente/footer") %>
</body>
</html>