<!doctype html>
<html lang="us">
<head>
	<meta name="description" content="Suntem o cafenea mai speciala, care gazduieste si pisici. Va oferim o relaxare completa alaturi de pisicile noastre.">
	<meta name="keywords" content=" cafeanea, relaxare, pisici, adoptie, angajare">

    <title>Login </title>  
    <%- include("../fragmente/head") %> 
    <style>
        #info{
            margin-left:30%;
            text-align: center;
            background-color:rgb(239, 169, 6);
            width:40vw;
        }
    </style> 
    <script>
      window.onload=function()
        {document.getElementById('buton').onclick=function(){window.location="/logout";}}
    </script>	
		
</head>
<body>
    <%- include("../fragmente/header") %> 

            <article id="info">
                <p>Ai adaugat un anunt in pagina Miau Cafe - <a href="/adoptie">Adoptie.</a></p>
                <p> Pentru asta ai fost logat cu numele: <b><%= nume %> </b></p>
                <p><button type="button" id="buton"> Logout </button> </p>
            </article>

   <%- include("../fragmente/footer") %>         
</body>
</html>